__pycache__/
build/
dist/
bin/
PIPPET-master/
*.mid
*.wav
*.reapeaks
*.pyc
__pycache__/GGfunctions.cpython-38.pyc
*.pyc
sync_index.py
*.pyc
*.csv
GG_workscript.py
build.py
default.sf2
GrooveGenerator_WIP.spec
*.spec
